# This file is used to configure the deployment of the Docket Management System on Render.

services:
  - type: web
    name: docket-management-system
    env: python
    plan: free # optional
    buildCommand: "pip install -r Docket-system-backend/requirements.txt"
    startCommand: "gunicorn --workers 4 --bind 0.0.0.0:$PORT Docket-system-backend.app:app"
    envVars:
      - key: HOST
        sync: false
      - key: USERNAME
        sync: false
      - key: PASSWORD
        sync: false
      - key: DATABASE
        sync: false
      - key: CA
        sync: false
      - key: DB_PLATFORM
        value: TIDB
      - key: JWT_SECRET
        sync: false
      - key: PYTHONPATH
        value: .

